.App {
  text-align: center;
  align-items: center;
}

.title {
  height: 610px;
  background-color: #001c08;
}

nav a {
  color: black;
  text-decoration: none;
}

.navigation {
  background-color: #001c08;
  padding-top: 0px;
  padding-bottom: 0px;
}

.text {
  background-color: #001c08;
  font-size: 40px;
  padding-top: 2%;
}

.texttitle {
  background-color: #001c08;
  font-size: 40px;
  padding-top: 2%;
}

.Bistro {
  color:white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Bistro2 {
  color:white;
  font-size: 15px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.endinfo {
  background-color: #001c08;
  padding: 20px;
  color:white
}

.slither {
  height: 8px;
}

.card {
  margin: 5%;
}

.mainback {
  background-color: rgb(255, 251, 240);
}