.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.title {
 color:red;
 height: 610px;
 background-color: #3e4640;
}

nav a {
  color:black;
  text-decoration: none;
}

.navigation {
  background-color: #3e4640;
  padding-top: 0px;
  padding-bottom: 0px;
}

.text{
  background-color: #322816;
 font-size: 40px;
padding-top: 2%;
}

.texttitle{
  background-color: #3e4640;
 font-size: 40px;
padding-top: 1%;
}


.endinfo {
  background-color: #3e4640;
  padding: 20px;
}

.slither {
  height: 8px;
 }

 .card {
  margin: 5%;
 }